.tfl{width:280px;float: left;}
.tfl img {padding:0px 46.5px 0px 46.5px;}
.twitter{width:280px;float:left;height:209px;}
.twitter img {padding:0px 62.5px 26px 62.5px;}
.next{width:280px;float:left;}
.next img {padding:0px 50px 16px 50px;}
.apis{margin-bottom:30px;}