<header class="header clearfix">
	<div class="l-constrained">
		<h1 class="logotype">
			Research I/O
			<span class="logotype-accent"></span>
		</h1>
		<h2 class="tagline">February 23-24, 2013 / London</h2>
	</div>
</header>

<div class="scroller">
	<section class="aboutus">
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				About us
			</h2>
		</div>
		
		<div class="l-constrained">
			<div class="l-single first">
				<img class="logo inset" src="../img/logo.png">
			</div>
			<div class="l-double">
				<p class="kicker">The world of Research meets Hackathons.</p>
				<p>
					Many students in London have ideas but they are sometimes missing the skills to get something done quickly. Effective prototyping is all about being fast. And this is what this hackathon is about. Building something in a week-end. Not a powerpoint presentation though. 
				
				</p>
			</div>
		</div>
		
	</section>
	
	<section>
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				Topics
			</h2>
		</div>
		
		<div class="l-constrained">
		
		</div>
	</section>
</div>
