<header class="header clearfix">
	<div class="l-constrained">
		<h1 class="logotype">
			Research I/O
			<span class="logotype-accent"></span>
		</h1>
		<h2 class="tagline">February 23-24, 2013 / London</h2>
	</div>
</header>

<div class="scroller">
	<section class="aboutus">
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				About us
			</h2>
		</div>
		
		<div class="l-constrained">
			<div class="l-single first">
				<img class="logo inset" src="../img/logo.png">
			</div>
			<div class="l-double">
				<p class="kicker">The world of Research meets Hackathons.</p>
				<p>
					Many students in London have ideas and are thinking of new ways to solve everyday problems
with technology.
On the other hand, researchers are working on some amazing stuff but often the content is published in the 
academic field only. This event gives an opportunity to bring together students and researches to build something truly
innovative.
				
				</p>
			</div>
		</div>
		
	</section>
	
	<section>
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				Topics
			</h2>
		</div>
		
		<div class="l-constrained">
		
		</div>
	</section>
	
	<section>
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				Sponsors
			</h2>
		</div>
		
		<div class="l-constrained">
		
		</div>
	</section>
	
	<section>
		<div class="sct-break">
			<h2 class="l-constrained sct-head">
				Agenda
			</h2>
		</div>
		
		<div class="l-constrained">
			<p class="agenda-party l-triple first">
				Pre-Party with ... (TBC)
			</p>
			<h3 class="agenda-head l-single first">
				Day One / Feb 23
			</h3>
			
			<table class="agenda">
				<tbody>
					<tr>
						<td class="agenda-time">8:30 - 9:30</td>
						<td>
							<b>
								Registration and breakfast
							</b>
						</td>
					</tr>
					
					<tr>
						<td class="agenda-time">9:30 - 9:45</td>
						<td>Kick-off</td>
					</tr>
					
					<tr>
						<td class="agenda-time">9:45 - 12:30</td>
						<td>Teams start working on their idea</td>
					</tr>
					
					<tr>
						<td class="agenda-time">12:30 - 19:00</td>
						<td>More coding</td>
					</tr>
					
					<tr>
						<td class="agenda-time">19:00 - 20:30</td>
						<td>Dinner is served</td>
					</tr>
						
					
				</tbody>
			</table>
			
			<p class="agenda-party l-triple first">
				Party with ... (TBC)
			</p>
			
			<h3 class="agenda-head l-single first">
				Day Two / Feb 24
			</h3>
			<table class="agenda">
				<tbody>
					<tr>
						<td class="agenda-time">8:30 - 9:30</td>
						<td>Breakfast served with loads of coffee</td>
					</tr>
					
					<tr>
						<td class="agenda-time">9:30 - 12:30</td>
						<td>More coding</td>
					</tr>
					
					<tr>
						<td class="agenda-time">12:30 - 13:30</td>
						<td>Lunch</td>
					</tr>
					
					<tr>
						<td class="agenda-time">13:30 - 16:30</td>
						<td>Final stretch before the presentations</td>
					</tr>
					
					<tr>
						<td class="agenda-time">16:30 - 17:30</td>
						<td>Presentations</td>
					</tr>
					
					<tr>
						<td class="agenda-time">16:30 - 17:30</td>
						<td>Pub for the scary ones</td>
					</tr>
		</div>
	</section>

</div>
